<div class="fields row">
  <div class="span8">
    <%= fx.text_field :sgti, :class =>"span8" %>
  </div>
  <div class="span1 destroy">
    <%= fx.check_box :_destroy %> <%= fx.label :_destroy, t('destroy') %>
  </div>
</div>