/* BASIC TYPOGRAPHY
----------------------------------------------------- */
/* TODO: dubbio se mantenere default h3 e fare classi per nostri h3 più piccoli. Vedi reports */
h3 {
  font-size: 13px;
}
.light {
  color: #666;
}

/* index-controls */
#index-controls {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ddd;
}
#index-controls.units .inner {
  width: auto;
}
#index-controls #quick-search {
  float: right;
}
#index-controls #view-options {
  float: right;
  padding: 8px 0;
  font-size: 11px;
  line-height: 1;
}
.page-entries-info { /* spostare sotto pagination */
  margin: 0 0 2px 0;
  text-align: left;
  font-size: 11px;
  color: #999;
}
#more-units-controls {
   margin: 0;
}
#more-units-controls .page-entries-info {
  float: left;
  width: auto;
  text-align: left;
}
#more-units-controls #quick-search {
  float: right;
}

/* BUTTONS and LINKS
----------------------------------------------------- */
a.to-index {
  line-height: 1;
}
a.to-index .ui-icon {
  float: left;
  background-image: url(/images/smoothness/ui-icons_888888_256x240.png);
}

/* FLASH & ERRORS
----------------------------------------------------- */
/* Come vengono presentati errori su altri tipi input ?*/
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
  border: 1px solid red;
}

/* PATTERNS
----------------------------------------------------- */
.warning {
  color: #f00;
}
.filters {
  font-size: 11px;
}

/* text editor: provvisoriamente disattivato */
.counter {
  display: block;
  display: none;
  width: 90%;
  z-index: 10;
  text-align: right;
  margin-top: -24px;
  font-size: 10px;
}

/* provvisorio */
div.pdf-list {
  width: 460px;
}
div.pdf-list p {
  margin: 0;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
}

/* OPTIMIZE: da qui in avanti, riordinare / ricollocare */
.jstree em { /* units_count */
  font-style: normal;
  text-shadow: none;
  color: #666;
}