/* cardinality => 'n'
----------------------------------------------------- */
.archidate-commands-wrapper {
  float: right;
  font-size: 10px;
}
.archidate-commands-wrapper a {
  float: right;
  padding-right: 7px;
}
#main-form .title-command label {
  display: inline;
}
a.remove-archidate {
  color: #8B0000;
}
a.restore-archidate {
  color: #008B00;
}

/* cardinality => '1'
----------------------------------------------------- */
.archidate-wrapper {
  margin-bottom: 12px;
  border-bottom: 1px dashed #bbb;
}
.archidate-inner {
/* this border is required for smooth jquery slidedown */
  border: 1px solid #fff;
}
#archidate-formarea .bound-wrapper {
/* this border is required for smooth jquery slidedown */
  border: 1px solid #fff;
}
#archidate-formarea .archidate-title {
  overflow: auto;
  width: 775px;
  width: auto;
  margin: 0;
  padding: 4px;
  border-top: 1px solid #b4b4b4;
  background: #f0f0f0;
}
#archidate-formarea .bound-title span {
  font-size: 11px;
}
#archidate-formarea input.checkbox,
#archidate-formarea input.radio,
#archidate-formarea select,
#archidate-formarea label {
/*
  cursor: pointer;
*/
}