<div class="fields row">
  <div class="span6">
    <%= f.hidden_field :preferred, :value => f.object.preferred %>
    <%= f.text_field :name, :class => "span6" %>
  </div>
  <div class="span3">
    <%= f.text_field :note %>
  </div>
</div>
