<div class="fields row">
  <div class="span8">
    <%= f.text_field :owner, :class => "span8" %>
  </div>
  <div class="span1 destroy">
    <%= f.check_box :_destroy %>&nbsp;<%= f.label :_destroy, t('destroy') %>
  </div>
</div>
