<div class="row row-labels">
  <div class="span2"><%= t('fond_editor') %></div>
  <div class="span2"><%= t('qualifier') %></div>
  <div class="span2"><%= t('editing_type') %></div>
  <div class="span2"><%= t('edited_at') %></div>
</div>
