<p><%= t('.search_invite',
          :available_related => available_related,
          :relation_name => t("activerecord.models.#{related_model.name.underscore}",
                              :count => 1).downcase) %></p>
<div style="margin: 7px 0 0 0;">
  <div>
    <span class="ui-icon ui-icon-search" style="display:inline; float:left; margin: 5px 0 0 0;">&nbsp;</span>
  </div>
  <div style="margin-left:16px; padding-left:10px;">
    <%= text_field_tag foreign_key, "", :id => "#{related_to}-autocomplete",
                                        :class => "relation-autocomplete",
                                        :'data-autocompletion-controller' => autocompletion_controller, # creators
                                        :'data-autocompletion-action' => autocompletion_action, # list
                                        :'data-excluded-ids' => excluded_ids.to_json,
                                        :style => "width:600px;" %>
  </div>
</div>

