<div class="fields row">
  <div class="span4">
  <%#= f.text_field  :activity,
                    :class => "autocomplete span4",
                    :'data-autocompletion-controller' => "activities",
                    :'data-autocompletion-action' => 'list' %>
  <%= f.text_field :activity, :class => "span4" %>
  </div>
  <div class="span4">
    <%= f.text_field :note, :class => "span4" %>
  </div>
  <div class="span1 destroy">
    <%= f.check_box :_destroy %> <%= f.label :_destroy, t('destroy') %>
  </div>
</div>
