<div class="fields row-fluid">
  <div class="span5"><%= f.text_field :owner, :class => "span5" %></div>
  <div class="span1 destroy">
    <%= f.check_box :_destroy %> <%= f.label :_destroy, t('destroy') %>
  </div>
</div>
