<div class="modal hide fade" id="mass-classify-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Classifica unità</h3>
  </div>
  <div class="modal-body">
    <p>Seleziona il nuovo livello per le unità selezionate e tutte le sottounità dipendenti</p>
    <%= content_tag :div,
                  nil,
                  :id => 'classify-tree',
                  :'data-fond-id' => fond.id.to_json,
                  :'data-root-fond-id' => root_fond.id.to_json %>
  </div>
  <div class="modal-footer">
    <button id="close-mass-classify" class="btn" data-dismiss="modal"><%= t('cancel') %></button>
    <button id="confirm-classify" class="submit btn btn-primary disabled"><%= t('classify') %></button>
  </div>
</div>
