<div id="jump-to-dialog" class="dropdown-menu">
  <%= content_tag :div,
    nil,
    :id => "jump-to-tree",
    :'data-action' => controller.action_name,
    :'data-current-node-id' => fond.id,
    :'data-root-id' => root.id %>
</div>
