<% content_for :status_bar do %>
  <h2><%= t('listing_activity') %></h2>
<% end %>

<div class="span9">
<p>Vocabolario non disponibile.</p>

<!--
  <table class="table">
    <thead>
      <tr>
        <th><%#= t('activity_en') %></th>
        <th><%#= t('activity_it') %></th>
      </tr>
    </thead>
    <tbody>
    <%# @activities.each do |activity| %>
      <tr class="<%#= cycle("odd", "even") %>">
        <td><%#= activity.activity_en.capitalize %></td>
        <td><%#= activity.activity_it.capitalize %></td>
      </tr>
    <%# end %>
  </table>

<%#= will_paginate @activities %>
-->

</div>
