<p>Seleziona un soggetto conservatore</p>
<% form_tag("/reports", :method => :get, :id => "reports-custodian-choice", :class => "skip-prompt export-wait") do %>
  <div style="margin: 7px 0 0 0;">
    <div>
      <span class="ui-icon ui-icon-search" style="display:inline; float:left; margin: 5px 0 0 0;">&nbsp;</span>
    </div>
    <div style="margin-left:16px; padding-left:10px;">
      <%= text_field_tag :q, params[:q], :id => "reports-custodian-name-autocomplete",
        :class => "autocomplete",
        :'data-autocompletion-controller' => 'custodians',
        :'data-autocompletion-action' => 'list',
        :style => "width:600px;" %>
      <%= hidden_field_tag :c, "", :id => "reports-custodian-id-autocomplete" %>
    </div>
  </div>
<% end %>