<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% Unit.attributes_for_labels.each do |attribute| %>
          <% if attribute == '#' %>
            <Cell><Data ss:Type="String">#</Data></Cell>
          <% else %>
            <% methods = attribute.split('.') %>
            <Cell><Data ss:Type="String"><%= t(methods [0]) %></Data></Cell>
          <% end %>
        <% end %>
      </Row>
      <% units.each_with_index do |unit, index| %>
        <Row>
          <% Unit.attributes_for_labels.each do |attribute| %>
            <% methods = attribute.split('.') %>
            <% if attribute.include?('.') %>
              <% value = unit.send(methods[0].to_sym).try(methods[1].to_sym).to_s %>
            <% else %>
              <% if attribute == "root_fond_id" %>
                <% value = root_name %>
              <% elsif attribute == "sequence_number" %>
                <% value = unit.display_sequence_number_from_hash(sequence_numbers) %>
              <% elsif attribute == "#" %>
                <% value = index += 1 %>
              <% else %>
                <% value = unit.try(attribute.to_sym).to_s %>
              <% end %>
            <% end %>
            <Cell><Data ss:Type="String"><%= h value %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
