<% content_for :status_bar do %>
  <h2><%= status_bar_context %></h2>
<% end %>

<div class="span9">
  <p>Funzionalità non disponibile.</p>
  <p>Per accedere alla funzionalità di gestione Oggetti digitali, è necessario installare il programma <strong>ImageMagick</strong>.</p>
</div>